<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./sylte.css') }}">

    <title>Document</title>
</head>

<body>
    <div id="container">
        <form action="/upload" method="post" enctype="multipart/form-data" novalidate="" class="box has-advanced-upload" id="cpa-form" class="forms">
            <div class="box-input">
                <svg x="0px" y="0px" viewBox="0 0 64 62" style="enable-background:new 0 0 64 62;" xml:space="preserve">
                  <style type="text/css">
                      .st0{fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                  </style>
	            </svg>
                <input type="file" name="files" id="file" class="box-file" multiple="">
                <label for="file"><strong>Choose a file</strong><span class="box-dragndrop"> or drag it here</span>.</label>
                <button type="submit" class="button" id="button">Upload</button>
            </div>
        </form>
    </div>
<script type="text/javascript">
    // Gets a reference to the form element
    var el = document.getElementById('cpa-form');
    var btn= document.getElementById('button');
    // Adds a listener for the "submit" event.
    el.addEventListener('submit', function(e) {
      if(!$('input[type="file"]').val()) {
       // No file is uploaded, do not submit.
          e.preventDefault();
          alert('You have not selected a file PDF');
            return false;
        }else {
            return true;
        }
    });

</script>
</body>

</html>